body {
    padding: 7rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;

}

thead, tfoot, th {
    background-color: #afc;
    color: black;
}
th, td {
    text-align: left;
    padding: 16px;

}

tr:nth-child(even) {
    background-color: #f2f2f2

}
th:hover {
    cursor: pointer;
    text-decoration-line: underline;
}